@use "../../styles/variables" as *;

.gradient-bar {
  position: absolute;
  width: 140%;
  height: 120px;
  left: -20%;
  top: 80%;
  background: linear-gradient(90deg, #ffd700 0%, #ffb347 50%, #ff7b82 100%);
  transform: rotate(-4deg) scale(1.2);
  z-index: 1;
  opacity: 1;
  border-radius: 100px;
  pointer-events: none;

  @media (max-width: 1024px) {
    z-index: 1;
    width: 140%;
    left: -20%;
    height: 20px;
    top: 46%;
    transform: rotate(-9deg) scale(1.2);
  }

  @include md {
    height: 50px;
    transform: rotate(-4deg) scale(1.2);
    width: 140%;
    left: -20%;
  }

  @include sm {
    top: 76%;
    height: 50px;
    transform: rotate(-4deg) scale(1.2);
    width: 140%;
    left: -20%;
  }
}
