@use "../../styles/variables" as *;

.gradient-bar {
  position: absolute;
  width: 140%;
  height: 120px;
  left: -20%;
  top: 65%;
  background: linear-gradient(90deg, #ffd700 0%, #ffb347 50%, #ff7b82 100%);
  transform: rotate(-4deg);
  z-index: 0;
  opacity: 0.85;
  border-radius: 100px;

  @include md {
    width: 160%;
    left: -30%;
    top: 60%;
    height: 80px;
  }

  @include sm {
    width: 180%;
    left: -40%;
    top: 55%;
    height: 60px;
  }
}
