@use "../../styles/variables" as *;

.image-gallery {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 32px;
  position: relative;
  background: transparent;
  &__container {
    display: flex;
    gap: 24px;
    width: 100%;
    will-change: transform;
    padding: 20px 0;
    background: transparent;
    transition: transform 2s cubic-bezier(0.5, 0, 0.1, 1);
  }

  &__item {
    flex: 0 0 calc((100% - 48px) / 3);
    min-width: 0;
    opacity: 1;
    transition: all 0.6s ease-in-out;

    &.entering {
      opacity: 0;
      transform: translateX(100%);
    }

    &.exiting {
      opacity: 0;
      transform: translateX(-100%);
    }
  }
}

@include md {
  .image-gallery {
    &__container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@include sm {
  .image-gallery {
    &__container {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
